
h3 {
	text-align: center;
	min-width: 300px;
	max-width: 1000px;
	padding: 20px auto;

}

/* Контейнер для форм */
.forms-container {
	display: flex;
	flex-wrap: wrap; /* Формы будут переноситься на новую строку, если не хватает места */
	gap: 20px; /* Расстояние между формами */
	justify-content: center; /* Центрирование форм */
	padding: 20px;
	min-width: 300px;
	max-width: 1000px;
}


/* Общие стили для формы */
form {
	width: 220px;
	
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-family: Arial, sans-serif;
}

/* Стили для меток */
label {
	display: block;
	margin-bottom: 15px;
	font-size: 14px;
	color: #333;
}

/* Стили для текста над полями ввода */
.label-text {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	color: #666;
}

/* Стили для полей ввода */
input {
	padding: 8px;
	font-size: 14px;
	border: 1px solid #75b6f3;	
	border-radius: 5px;
	box-sizing: border-box;
	outline-color: #007BFF;
	width: 100px;
}

/* Группировка horizontal и vertical в одну строку */
.size-fields {
	display: flex;
	align-items: center;
	gap: 5px; /* Расстояние между элементами */
}

/* Группировка diameter и undercut в одну строку */
.diameter-undercut-fields {
	display: flex;
	align-items: center;
	gap: 15px; /* Расстояние между элементами */
}

/* Стили для выпадающего меню */
select {
	padding: 8px;
	font-size: 14px;
	border: 1px solid #75b6f3;
	border-radius: 5px;
	background-color: white;
	outline-color: #007BFF;
	width: 100%;
	/* margin-right: 10px; */

}


/* Стили для кнопки */
button {
	padding: 10px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	min-width: 100%; /* Ширина как у полей horizontal и vertical */

	margin-top: 10px;
}

button:hover {
	background-color: #0056b3;
}

/* Стили для блока результата */
.result {
	width: 195px;
	margin: 20px auto 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
	font-size: 14px;
	text-align: center;
}